<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".AppMain"
        android:icon="@mipmap/launcher_icon">


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".ace"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_ace"
            android:roundIcon="@mipmap/ic_ace_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ace_f"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_ace_f"
            android:roundIcon="@mipmap/ic_ace_f_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".bi"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_bi"
            android:roundIcon="@mipmap/ic_bi_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".bi_f"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_bi_f"
            android:roundIcon="@mipmap/ic_bi_f_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".cactus"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_cactus"
            android:roundIcon="@mipmap/ic_cactus_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".cc"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_cc"
            android:roundIcon="@mipmap/ic_cc_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".enby"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_enby"
            android:roundIcon="@mipmap/ic_enby_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".enby_f"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_enby_f"
            android:roundIcon="@mipmap/ic_enby_f_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".fidesz"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_fidesz"
            android:roundIcon="@mipmap/ic_fidesz_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".filc"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_filc"
            android:roundIcon="@mipmap/ic_filc_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".filco"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_filco"
            android:roundIcon="@mipmap/ic_filco_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".galaxy"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_galaxy"
            android:roundIcon="@mipmap/ic_galaxy_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".gay"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_gay"
            android:roundIcon="@mipmap/ic_gay_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".gay_f"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_gay_f"
            android:roundIcon="@mipmap/ic_gay_f_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".kreta"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_kreta"
            android:roundIcon="@mipmap/ic_kreta_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".lesb"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_lesb"
            android:roundIcon="@mipmap/ic_lesb_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".lesb_f"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_lesb_f"
            android:roundIcon="@mipmap/ic_lesb_f_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".lgbtq"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_lgbtq"
            android:roundIcon="@mipmap/ic_lgbtq_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".lgbtq_f"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_lgbtq_f"
            android:roundIcon="@mipmap/ic_lgbtq_f_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".lgbtqp"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_lgbtqp"
            android:roundIcon="@mipmap/ic_lgbtqp_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".lgbtqp_f"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_lgbtqp_f"
            android:roundIcon="@mipmap/ic_lgbtqp_f_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".mkkp"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_mkkp"
            android:roundIcon="@mipmap/ic_mkkp_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".modern"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_modern"
            android:roundIcon="@mipmap/ic_modern_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".o1g"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_o1g"
            android:roundIcon="@mipmap/ic_o1g_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".paper"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_paper"
            android:roundIcon="@mipmap/ic_paper_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".pixel"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_pixel"
            android:roundIcon="@mipmap/ic_pixel_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".pixelized"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_pixelized"
            android:roundIcon="@mipmap/ic_pixelized_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".refilc"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_refilc"
            android:roundIcon="@mipmap/ic_refilc_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".refulc"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_refulc"
            android:roundIcon="@mipmap/ic_refulc_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".repont"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_repont"
            android:roundIcon="@mipmap/ic_repont_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".trans"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_trans"
            android:roundIcon="@mipmap/ic_trans_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".trans_f"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_trans_f"
            android:roundIcon="@mipmap/ic_trans_f_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".void_icon"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_void_icon"
            android:roundIcon="@mipmap/ic_void_icon_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".xmas1"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_xmas1"
            android:roundIcon="@mipmap/ic_xmas1_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".xmas2"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_xmas2"
            android:roundIcon="@mipmap/ic_xmas2_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".xmas3"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_xmas3"
            android:roundIcon="@mipmap/ic_xmas3_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <receiver android:name=".glance.TimetableWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/timetable_widget" />
        </receiver>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
    </application>

    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>