[submodule "firka/vendor/isar_generator"]
	path = firka/vendor/isar_generator
	url = https://git.qwit.cloud/firka/isar_generator
[submodule "firka/vendor/isar"]
	path = firka/vendor/isar
	url = https://git.qwit.cloud/firka/isar
[submodule "firka/vendor/isar_flutter_libs"]
	path = firka/vendor/isar_flutter_libs
	url = https://git.qwit.cloud/firka/isar_flutter_libs
[submodule "firka/lib/l10n"]
	path = firka/lib/l10n
	url = https://github.com/QwIT-Development/firka-localization
[submodule "firka_wear/vendor/wear_plus"]
	path = firka_wear/vendor/wear_plus
	url = https://git.firka.app/firka/wear_plus
[submodule "firka/android/app/src/main/java/org/brotli"]
	path = firka/android/app/src/main/java/org/brotli
	url = https://git.firka.app/firka/org_brotli
