[submodule "firka/lib/l10n"]
	path = firka/lib/l10n
	url = https://git.firka.app/firka/firka-localization
[submodule "firka_wear/lib/l10n"]
	path = firka_wear/lib/l10n
	url = https://git.firka.app/firka/firka-localization
