<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- The INTERNET permission is required for development. Specifically,
         the Flutter tool needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:label="Firka Debug"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".debug.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".debug.ace"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_ace"
            android:roundIcon="@mipmap/ic_ace_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.ace_f"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_ace_f"
            android:roundIcon="@mipmap/ic_ace_f_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.bi"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_bi"
            android:roundIcon="@mipmap/ic_bi_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.bi_f"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_bi_f"
            android:roundIcon="@mipmap/ic_bi_f_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.cactus"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_cactus"
            android:roundIcon="@mipmap/ic_cactus_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.cc"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_cc"
            android:roundIcon="@mipmap/ic_cc_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.enby"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_enby"
            android:roundIcon="@mipmap/ic_enby_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.enby_f"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_enby_f"
            android:roundIcon="@mipmap/ic_enby_f_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.fidesz"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_fidesz"
            android:roundIcon="@mipmap/ic_fidesz_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.filc"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_filc"
            android:roundIcon="@mipmap/ic_filc_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.filco"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_filco"
            android:roundIcon="@mipmap/ic_filco_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.galaxy"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_galaxy"
            android:roundIcon="@mipmap/ic_galaxy_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.gay"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_gay"
            android:roundIcon="@mipmap/ic_gay_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.gay_f"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_gay_f"
            android:roundIcon="@mipmap/ic_gay_f_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.kreta"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_kreta"
            android:roundIcon="@mipmap/ic_kreta_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.lesb"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_lesb"
            android:roundIcon="@mipmap/ic_lesb_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.lesb_f"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_lesb_f"
            android:roundIcon="@mipmap/ic_lesb_f_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.lgbtq"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_lgbtq"
            android:roundIcon="@mipmap/ic_lgbtq_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.lgbtq_f"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_lgbtq_f"
            android:roundIcon="@mipmap/ic_lgbtq_f_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.lgbtqp"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_lgbtqp"
            android:roundIcon="@mipmap/ic_lgbtqp_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.lgbtqp_f"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_lgbtqp_f"
            android:roundIcon="@mipmap/ic_lgbtqp_f_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.mkkp"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_mkkp"
            android:roundIcon="@mipmap/ic_mkkp_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.modern"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_modern"
            android:roundIcon="@mipmap/ic_modern_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.o1g"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_o1g"
            android:roundIcon="@mipmap/ic_o1g_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.paper"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_paper"
            android:roundIcon="@mipmap/ic_paper_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.pixel"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_pixel"
            android:roundIcon="@mipmap/ic_pixel_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.pixelized"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_pixelized"
            android:roundIcon="@mipmap/ic_pixelized_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.refilc"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_refilc"
            android:roundIcon="@mipmap/ic_refilc_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.refulc"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_refulc"
            android:roundIcon="@mipmap/ic_refulc_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.repont"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_repont"
            android:roundIcon="@mipmap/ic_repont_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.trans"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_trans"
            android:roundIcon="@mipmap/ic_trans_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.trans_f"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_trans_f"
            android:roundIcon="@mipmap/ic_trans_f_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.void_icon"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_void_icon"
            android:roundIcon="@mipmap/ic_void_icon_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.xmas1"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_xmas1"
            android:roundIcon="@mipmap/ic_xmas1_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.xmas2"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_xmas2"
            android:roundIcon="@mipmap/ic_xmas2_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".debug.xmas3"
            android:targetActivity=".debug.MainActivity"
            android:exported="true"
            android:enabled="false"
            android:icon="@mipmap/ic_xmas3"
            android:roundIcon="@mipmap/ic_xmas3_round" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

    </application>
</manifest>
